<h3>Update User Info</h3>
<form class="edit-user-info">
    <div class="form-control">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" />
    </div>
     <div class="form-control">
        <label for="lastName">Last Name</label>
        <input type="text" name="lasttName" id="lastName" />
    </div>
     <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
    </div>
     <div class="form-control">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" />
    </div>
     <div class="form-control">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
    </div>

</form>
