<h2>Couch Critic Users</h2>

<!--Team has not figured out why this For loop is not iterating-->
<!--Our theory is that the fields that are related to other tables in our RDBS have returned as objects, and each of those fields contain arrays within them 
    containing all of the information from it's related tables. Our interface models aren't directly able to access these fields because we were not predicting those
    fields to return as nested objects. In order to access those nested objects, we would have had to put for example authorId : {First Name : Number, username: string, password: string} 
    this discovery wasn't made until a day before presentation, so we decided as a team to adapt to some of the properties our models that we do have access to. -->
<ul>
    <li *ngFor="let user of users">
        <span class="badge">{{user.userid}}</span> {{user.firstName}}
    </li>
</ul>

<!--Manually hard coding our returned array so we have something to present-->
<p>User Id: {{users[0].userid}} | Username: {{users[0].username}} <button (click)="banUser(users[0].userid!)">Ban User</button> Status: "{{users[0]?.statusid?.accStatus}}"" <button (click)="activateUser(users[0].userid!)">Activate User</button></p> 
<p>User Id: {{users[1].userid}} | Username: {{users[1].username}} <button (click)="banUser(users[1].userid!)">Ban User</button> Status: "{{users[1]?.statusid?.accStatus}}"" <button (click)="activateUser(users[1].userid!)">Activate User</button></p> 
<p>User Id: {{users[2].userid}} | Username: {{users[2].username}} <button (click)="banUser(users[2].userid!)">Ban User</button> Status: "{{users[2]?.statusid?.accStatus}}"" <button (click)="activateUser(users[2].userid!)">Activate User</button></p> 
<p>User Id: {{users[3].userid}} | Username: {{users[3].username}} <button (click)="banUser(users[3].userid!)">Ban User</button> Status: "{{users[3]?.statusid?.accStatus}}"" <button (click)="activateUser(users[3].userid!)">Activate User</button></p> 
<p>User Id: {{users[4].userid}} | Username: {{users[4].username}} <button (click)="banUser(users[4].userid!)">Ban User</button> Status: "{{users[4]?.statusid?.accStatus}}"" <button (click)="activateUser(users[4].userid!)">Activate User</button></p> 
<p>User Id: {{users[5].userid}} | Username: {{users[5].username}} <button (click)="banUser(users[5].userid!)">Ban User</button> Status: "{{users[5]?.statusid?.accStatus}}"" <button (click)="activateUser(users[5].userid!)">Activate User</button></p> 
<p>User Id: {{users[6].userid}} | Username: {{users[6].username}} <button (click)="banUser(users[6].userid!)">Ban User</button> Status: "{{users[6]?.statusid?.accStatus}}"" <button (click)="activateUser(users[6].userid!)">Activate User</button></p> 
<p>User Id: {{users[7].userid}} | Username: {{users[7].username}} <button (click)="banUser(users[7].userid!)">Ban User</button> Status: "{{users[7]?.statusid?.accStatus}}"" <button (click)="activateUser(users[7].userid!)">Activate User</button></p> 
<p>User Id: {{users[8].userid}} | Username: {{users[8].username}} <button (click)="banUser(users[8].userid!)">Ban User</button> Status: "{{users[8]?.statusid?.accStatus}}"" <button (click)="activateUser(users[8].userid!)">Activate User</button></p> 
<p>User Id: {{users[9].userid}} | Username: {{users[9].username}} <button (click)="banUser(users[9].userid!)">Ban User</button> Status: "{{users[9]?.statusid?.accStatus}}"" <button (click)="activateUser(users[9].userid!)">Activate User</button></p> 

<!--Send user to previous page-->
<button (click)="goBack()">Go Back</button>
