<h2>{{title}}</h2>

<nav>
    <a routerLink="/critics">Home</a>
    <a routerLink="/create">Make Review</a>
</nav>
<br>

<h3>My Reviews</h3>
<ul class="mov">
    <li *ngFor="let m of movies">
        <span class = "badge">{{movies[0].id}}</span>
    </li>
    
</ul>
<span>{{movies[1].original_title}}</span>
<h3>List of Movies</h3>
<ul class="movies">
    <li >
        <span>{{movie.id}}</span>
        <span>{{movie.original_title}}</span>
        <span>{{movie.id}}</span>
        
        <br>
        
        
        
        
        <br>
        <span>{{movie.overview}}</span>

    </li>
    
</ul>



<div>
    <form action="localhost:8080/disc/add" method="POST">
    <label for="review">Create Movie Review:</label>
    <br>
<textarea id="review" name="review" rows="20" cols="100">
create movie review here
</textarea>
<br>
<button type="button" id="submit-review">Submit</button>

</form>
</div>

