<h2>{{title}}</h2>

<nav>
    <a routerLink="/critics">Home</a>
    <a routerLink="/create">Make Review</a>
</nav>
<br>

<h3>My Reviews</h3>
<ul class="mov">
    <li *ngFor="let m of movies">
        <span class = "badge">{{m.id}}: {{m.original_title}}</span>
        
        <br>
        <span><img src="https://image.tmdb.org/t/p/w200/{{m.poster_path}}"></span>
        <br>
        <span>{{m.overview}}</span>
        <br>
        <span>Popularity rating: {{m.popularity}}</span>
        <br>
        <button routerLink="/detail/{{m.id}}">Critic It!</button>
        <br>
        <br>
        
    </li>
    
</ul>

<!--
<h3>List of Movies</h3>
<ul class="movies">
    <li >
        <span>{{movie.id}}</span>
        <span>{{movie.original_title}}</span>
        <span>{{movie.id}}</span>
        
        <br>
        
        
        <br>
        <span>{{movie.overview}}</span>

    </li>
    
</ul>
-->



