<h2>{{title}}</h2>

<nav class="nav">
    <a routerLink="/critics">Home</a>
    
    <a routerLink="/create">Make Review</a>
</nav>



<h3>My Reviews</h3>
<!--
<ul class="reviews">
    <li *ngFor="let review of reviews">
        <a routerLink="/detail/{{review.movieId}}">
        <span class = "badge">{{review.movieId}}</span> {{review.movieName}}
    </a>
        
    </li>
    
</ul>
-->



<div class="critic-buttons">
    <label for="id">Enter id:</label>
    <input type="text" name = "id">
    <br>

<button > My Reviews</button>

<button>View Pending Review</button>

<button>View Accepted</button>

</div>