<app-critics-nav-bar></app-critics-nav-bar>


<div class="styled-table">


    <button (click)="getMyReview()"> My Reviews</button><button (click)="getMyPending()">View Pending Review</button><button (click)="getMyAccepted()">View Accepted</button>

    <table class="styled-table">
        <thead>
            <tr *ngIf="triggerR">
                <th>Movie Name</th>
                <th>Review </th>
                <th>Status </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of reviews">
                <td><a routerLink="/detail/{{r.movieId}}">{{r.movieName}}</a></td>
                <td>{{r.review}}</td>
                <td>{{r.reviewStatus}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <table class="styled-table">
        <thead>
            <tr *ngIf="triggerP">
                <th>Movie Name</th>
                <th>Review</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of pendings">
                <td><a routerLink="/detail/{{r.movieId}}">{{r.movieName}}</a></td>
                <td>{{r.review}}</td>
                <td>{{r.reviewStatus}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <table class="styled-table">
        <thead>
            <tr *ngIf="triggerA">
                <th>Movie Name</th>
                <th>Review</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of accepted">
                <td><a routerLink="/detail/{{r.movieId}}">{{r.movieName}}</a></td>
                <td>{{r.review}}</td>
                <td>{{r.reviewStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>