<!--   FOR REFERENCE
<div *ngIf="r">
    <h3>{{r.movieName }}</h3>
<div><span>Review id: </span>{{r.reviewId}}</div>
<br>
<div>
    <label for="review">Movie Review</label>
    <br>
    <textarea id="review" name="review" rows="20" cols="100" [(ngModel)] = "r.review" placeholder="Movie Review">
        create movie review here
        </textarea>
</div>

<br>
    <button (click)="goBack()">go back</button>
</div>
-->
<app-critics-nav-bar></app-critics-nav-bar>

<br>

<div *ngIf="m">
    <h1>{{m.original_title}}</h1>

    <div class="desk">
        <span><img src="https://image.tmdb.org/t/p/w300/{{m.poster_path}}"></span>
    </div>
    <br>
    <br>

    <div class="desk">
        <label for="movie">Create Review for {{m.original_title}}</label>
        <br>

        <textarea id="movie" name="movie" rows="20" cols="100" placeholder="Make Review">
        create movie review here
        </textarea>

        <br>
        <button (click)="make()">submit</button>

    </div>
    <br>
    <br>
    <button (click)="goBack()">go back</button>
</div>