<div class="movie-review-container">
    <div class="movie-card example-card item">
         <mat-card>
             <mat-card-header>
                 <mat-card-title>Tenet</mat-card-title>
                 <mat-card-subtitle>Average Rating : 9.9</mat-card-subtitle>
             </mat-card-header>
             <img mat-card-image src="../../../../assets/tenet.jpg" width="100px" max-heigth="100px" alt="post of movie">
             <mat-card-content>
                 <p>Adrift in space with no food or water, Tony Stark sends a message to Pepper Potts as his oxygen supply starts to dwindle. Meanwhile, the remaining Avengers -- Thor, Black Widow, Captain America and Bruce Banner -- must figure out a way to bring back their vanquished allies for an epic showdown with Thanos -- the evil demigod who decimated the planet and the universe.</p>
             </mat-card-content>
             <mat-card-actions>
                 <button mat-button>LIKE</button>
                 <button mat-button>SHARE</button>
             </mat-card-actions>
         </mat-card>
    </div>
    <div class="critic-review item">
        <mat-card class="Critic-background">
            <mat-card-header>
                <div mat-card-avatar class="critic-header-image"></div>
                 <mat-card-title>Critic</mat-card-title>
                 <mat-card-subtitle>Critic Name: Kristen Woods</mat-card-subtitle>
            </mat-card-header>
             <mat-card-content>
                 <p>is a critic and host of the video podcast Pop Culture Planet & The Fan Club. She's a member of HCA, LEJA & Television Academy. Find Kristen @kaymaldo</p>
             </mat-card-content>
        </mat-card>
        <div class="critic-review-content-container">
            <div class="critic-content">
                <h4>What this Critic thinks</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. A iaculis at erat pellentesque adipiscing commodo elit. </p>
            </div>
            <div class="User Reply">
                <span> LikeIcon, Dislike Icon, ReplyToCriticPostImage</span>
            </div>
        </div>
    </div>
    <div class="user-comments-posted-container item">
        <h4>Average Joes Comments</h4>
        <div class="comments-posted">
            <mat-card class="comment-entry">
            <mat-card-header>
                <div mat-card-avatar class="average-joe-header-image"></div>
                 <mat-card-title>Average Joe</mat-card-title>
                 <mat-card-subtitle>Rubles Doodle</mat-card-subtitle>
            </mat-card-header>
             <mat-card-content>
                 <p>lol noob</p>
             </mat-card-content>
            </mat-card>
            <mat-card class="comment-entry">
            <mat-card-header>
                <div mat-card-avatar class="average-joe-header-image"></div>
                 <mat-card-title>Average Joe</mat-card-title>
                 <mat-card-subtitle>joe dirt</mat-card-subtitle>
            </mat-card-header>
             <mat-card-content>
                 <p>I can write a better script in a day </p>
             </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>