<div class="view-critics-container">
    <div class="list-of-critics-container">
        <mat-card class="critic-entry">
            <mat-card-header>
                <div mat-card-avatar class="critic-header-image"></div>
                <mat-card-title>Critic</mat-card-title>
                <mat-card-subtitle>Critic Name: Kristen Woods</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>is a critic and host of the video podcast Pop Culture Planet & The Fan Club. She's a member of HCA, LEJA & Television Academy. Find Kristen @kaymaldo</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>View Reviews</button>
                <!--todo: when clicked, a table will be dynamically generating showing list of reviews for that particular critic-->
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="table-of-current-critic-clicked">
        <mat-table>

        </mat-table>
    </div>
</div>