<!--
<form>
    <label>Username</label>
    <br>
    <input type="text" [(ngModel)]="username" name="username" />
    <br>
    <label>Password</label>
    <br>
    <input type="password" [(ngModel)]="password" name="password" />
    <br>
    <br>

    
    <button type="button" (click)="login()">Login</button>
</form>
-->


<div class="login">
    <h1>Login to Couch Critic</h1>
    <form>
        <p><input type="text" [(ngModel)]="username" name="login" value="" placeholder="Username or Email"></p>
        <p><input type="password" [(ngModel)]="password" name="password" value="" placeholder="Password"></p>
        <p class="remember_me">
            <label>
          <input type="checkbox" name="remember_me" id="remember_me">
          Remember me on this computer
        </label>
        </p>
        <button type="button" (click)="login()">Login</button>
    </form>
</div>

<div class="login-help">
    <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
</div>